@import './Currency/styles.scss';
@import './ActionButtons/styles.scss';

.balance__chart {
  position: relative;

  #balance__chart__trade {
    z-index: -1;
    opacity: 0.4;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .balance__container {
    padding: 5%;

    .balance__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .icon__options {
        display: flex;
        flex-direction: row;
        

        .icon__option {
          border-radius: 50%;
          background-color: #ECF3FE;
          width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 12px;

          &:hover{
            cursor: pointer;
          }
        }
      }
    }

    .balance__resume {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .balance__amount {
        font-size: 6rem;
      }

      .balance__percentage {
        display: flex;
        flex-direction: column;
      }
    }

    .actionable__buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}