.boxicon{
    transition: 0.3s;
    height: 52px;
    width: 52px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        transition: 0.3s;
        cursor: pointer;
        border-radius: 2px;
        border-radius: 30%;
    }
}