@import './BoxIcon/styles.scss';

.sidebar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #416EFE;

    .sidebar__list__item{
        width: 80%;
    }
}

